body{
    font-family: 'Muli', sans-serif;
    color: #2d2d2d
}
.navbar-toggler{
  margin-top: 35px;
}
section{
  min-height: 500px;
}
.footer{
    padding: 25px;
    color: white;
    background-color: #2d2d2d;
}

footer a{
    color: #b4b50f;
}

footer a:hover{
    color: #d4da22;
}

/*
Features and service icon boxes
*/
.features-section {
  padding-top: 90px;
  padding-bottom: 60px; }

.feature-box-center i {
  font-size: 50px;
  margin-bottom: 15px;
  color: #b4b50f;
  display: block; }

.features-bg {
  background: url(../images/bg2.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 50px; }
  .features-bg .center-title h2, .features-bg .center-title p {
    color: #fff; }
  .features-bg .center-title:after {
    background: #fff; }

.feature-icon-left {
  margin-bottom: 40px; }
  .feature-icon-left .icon {
    float: left;
    margin-right: 20px;
    color: #fff;
    width: 60px;
    text-align: center;
    font-size: 50px; }
  .feature-icon-left .content {
    overflow: hidden; }
    .feature-icon-left .content h4, .feature-icon-left .content p {
      color: #fff; }
    .feature-icon-left .content h4 {
      font-weight: 400;
      text-transform: capitalize; }
    .feature-icon-left .content p {
      opacity: 0.9; }      


.center-title {
    margin: 50px 0;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.mind-features-item {
    background-color: #eee;
    border: solid 1px #ccc;
    position: relative;
    overflow: hidden;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%
}

.mind-features-item .item-icon {
    text-align: center;
    padding: 20px
}

.mind-features-item i {
    color: #b4b50f;
    font-size: 9em
}

.hover {
    user-select: none;
    -webkit-touch-callout: none
}

.mind-features-item .item-content {
    background-color: #2d2d2d;
    color: #fff;
    padding: 20px;
    height: 240px;
    position: absolute;
    z-index: 10;
    top: 175px;
    left: 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear
}

.mind-features-item:hover .item-content,.mind-features-item.cs-hover .item-content {
    top: 0
}

.mind-features-item .item-content h3 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 15px 0;
    color: #fff
}

@media (min-width: 768px) {
    .mind-features-item {
        width:100%
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .mind-features-item .item-content h3 {
        font-size:1.4em;
        margin: 0 0 15px 0
    }
}

@media (min-width: 992px) {
    .mind-features-item .item-content {
        font-size:.9em;
        line-height: 1.6em
    }

    .mind-features-item i {
        font-size: 9em
    }

    .mind-features-item .item-content h3 {
        font-size: 1.3em;
        margin: 5px 0 20px 0
    }
}

@media (min-width: 1200px) {
    .mind-features-item .item-content {
        line-height:1.7em
    }

    .mind-features-item i {
        font-size: 9em
    }
}

/* ======= About Us ======= */
.team {
  padding: 80px 0;
}
.team .item {
  margin-bottom: 30px;
}
.team .item .item-inner {
  background: #fff;
  background: #f5f5f5;
  background: #f8f9fa;
  padding: 30px;
  padding-bottom: 60px;
  overflow: hidden;
  position: relative;
}
.team .item .figure {
  margin-bottom: 30px;
}
.team .item .info {
  margin-bottom: 30px;
}

.team .item .info .name {
  margin-top: 0;
  color: #2d2d2d;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
.team .item .info .role {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  font-style: italic;
  color: #2d2d2d;
}
.team .item .social {
  padding-top: 15px;
  width: 100%;
  margin-left: -30px;
  position: absolute;
  bottom: 30px;
}
.team .item .social .social-list {
  margin: 0 auto;
  margin-bottom: 0;
  width: 100%;
}
.team .item .social .social-list li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #b4b50f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-top: 8px;
}
.team .item .social .social-list li a:hover {
  background: #d4da22;
}
.team .item .social .social-list li .fa {
  font-size: 18px;
  color: #fff;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.join-us {
  padding: 80px 0;
  background: #f5f5f5;
}
.join-us .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #505c70;
  margin-top: 0;
  margin-bottom: 30px;
}
.join-us .intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #65758e;
  font-weight: 300;
  font-size: 20px;
}
.join-us .info {
  margin-bottom: 30px;
}
.join-us .partner {
  margin-bottom: 30px;
}
.join-us .partner .sub-title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #505c70;
}
.photos {
  padding: 80px 0;
}
.photos .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #505c70;
  margin-top: 0;
  margin-bottom: 15px;
}
.photos .intro {
  font-size: 18px;
  color: #65758e;
  font-size: 20px;
  margin-bottom: 60px;
  font-weight: 300;
}
.photos #instafeed {
  margin: 0 auto;
  display: inline-block;
}
.photos #instafeed .item {
  text-align: center;
  padding: 5px;
  background: #fff;
}
.photos #instafeed .item img {
  display: block;
  -webkit-transition: transform 0.4s linear;
  -moz-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  -o-transition: transform 0.4s linear;
}
.photos #instafeed .item:hover img {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}